<div class="row">
  <div class="d-none d-sm-block col-sm-4 col-lg-3">
    <div class="row">
      <div class="d-none col-sm-3 d-sm-block text-center">
        <strong>ID</strong>
      </div>

      <div class="col-6 col-sm-9">
        <strong>写真</strong>
      </div>

      <div class="col-6 d-sm-none">
        <strong>商品名</strong>
      </div>
    </div>
  </div>

  <div class="col-sm-8 col-lg-9">
    <div class="px-3">
      <div class="row">
        <div class="col-5">
          <strong>色</strong>
        </div>

        <div class="col-2">
          <strong>数</strong>
        </div>

        <div class="col-4">
          <strong>金</strong>
        </div>
      </div>
    </div>
  </div>
</div>
