<div class="tab-pane active" id="history" role="tabpanel">
  <div class="b-box-group">
    <h6 class="b-box-title">編集</h6>
    
    <div class="b-box">
      <div class="b-box-row">
        adsadasdasd
      </div>
    </div>
  </div>
  
  <div class="b-box-group mt-3">
    <h6 class="b-box-title">コメント</h6>
    
    <div class="b-box">
      <div class="b-box-row">
        asdasddas
      </div>
    </div>
  </div>
</div>