<div class="tab-pane active" id="statistic" role="tabpanel">
  <div class="b-box-group">
    <h6 class="b-box-title">編集</h6>
    
    <div class="b-box pt-3" style="background-color: #00ACC2;">
      <canvas id="userEditChart" width="3" height="1" 
        data-data="<%= @statistics[:edit_day][:data] %>" 
        data-labels='<%= raw @statistics[:edit_day][:labels] %>'
      >
      </canvas>
    </div>
  </div>
  
  <div class="b-box-group mt-3">
    <h6 class="b-box-title">コメント</h6>
    
    <div class="b-box pt-3" style="background-color: #00ACC2;">
      <canvas id="userCommentChart" width="3" height="1" 
        data-data="<%= @statistics[:comment_day][:data] %>" 
        data-labels='<%= raw @statistics[:comment_day][:labels] %>'
      >
      </canvas>
    </div>
  </div>
</div>