<div class="page-utility dropdown">
  <span class="utility-label" id="rateForm"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
  >
    Rating:
    <span id="userRatedStar"><%= rated_star %></span>
    /
    <span id="avgRatedStar"></span>
    <span>&#9660;</span>
  </span>
  
  <div class="dropdown-menu" aria-labelledby="rateForm">
    <% if user_signed_in? %>
      <%= render 'components/ratings/form', rateable: rateable, rated: rated %>
    <% else %>
      ログインのが必要です
    <% end %>
  </div>
</div>