<div class="b-box-group mt-3">
  <h6 class="b-box-title">Rating</h6>
  <div class="b-box b-box-p">
    <div class="row">
      <div class="col-6">
        graph
      </div>
      <div class="col-6">
        list of rated users
      </div>
    </div>
  </div>
</div>