<% staffs_grouped = song_latest.staffs_group_by_position %>
<% if staffs_grouped.present? %>
  <div class="">
    <% staffs_grouped.each do |position, staffs| %>
      <div class="">
        <strong><%= position %>: </strong>
        <span class="">
          <%= staffs.map do |staff| 
            link_to staff.latest_version.person.latest_version.name, db_person_path(staff.latest_version.person)
          end.join(', ').html_safe
          %>
        </span>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="">
    スタッフがいません。
  </div>
<% end %>