<div class="" id="commentList">
  <div class="b-box b-box-p">
    <% if comments.any? %>
      <% comments.each do |comment| %>
        <div class="">
          <div class="">
            <%= comment.user.user_name || '無名' %>
          </div>
          <div class="">
            <%= comment.body || '無名' %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="">
        コメントがありません。
      </div>
    <% end %>
  </div>
  
  <div class="">
    <% unless comments.blank? || comments.last_page? %>
      <%= link_to '他のコメントを見る',
        polymorphic_path([commentable, :comments], page: comments.next_page), 
        class: 'b-more-comments', 
        'data-target' => '#commentList', 
        'data-loading' => '#commentLoading' + comments.current_page.to_s
      %>
      <div class="b-loading b-loading-inline" id="commentLoading<%= comments.current_page %>"></div>
    <% end %>
  </div>
</div>
