<div class="<%= class_string(
  'b-img-placeholder': true, 
  'b-img-placeholder-avatar': avatar,
  "b-ratio-#{ratio}": true
) %>">
  <div class="b-img-thumb" data-background-image="<%= img %>"></div>
</div>