<div class="b-box-group">
  <h6 class="b-box-title">最近の活動</h6>
  <div class="b-box">
    <div id="dbRecentActivities">
      <%= render partial: 'components/logs', locals: { logs: @logs } %>
    </div>
  </div>
</div>
