<% content_for :title do %>
  <div class="b-page-title page-title">
    <div class="container">
      <h3 class="b-big-title"><%= big_title %></h3>
      <h6 class="b-small-title"><%= small_title %></h6>
    </div>
  </div>
<% end %>