<%= breadcrumb(
  { path: home_path, name: 'ホーム' },
  'データベース'
) %>

<%= page_title('データベース', 'Database') %>

<div class="b-box-group">
  <h6 class="b-box-title">
    <%= link_to 'アルバム', db_albums_path %>
  </h6>
  
  <div class="b-box b-box-p">
    
  </div>
</div>