<%= page_title("アルバムの管理", "Albums management") %>

<div class="p-3">
  <div class="b-box">
    <%= render 'admin/db/versionable_list/list_filter' %>
  </div>

  <div class="b-box b-box-p mt-3">
    <table class="b-data-table b-table-loading" id="manageDbResources">
      <thead>
        <tr>
          <th class="b-col-wide">ID・タイトル</th>
          <th class="b-col-semi-wide">編集者</th>
          <th class="b-col-medium">Status</th>
          <th class="b-col-small b-col-last">行動</th>
        </tr>
      </thead>

      <!-- To fix tr hover make border disappear -->
      <tbody>
        <tr>
          <td class="p-0 m-0"></td>
        </tr>
      </tbody>

      <tbody class="b-tbody-loading">
        <tr>
          <td colspan="4"><div class="b-loading"></div></td>
        </tr>
      </tbody>

      <%= render 'admin/db/versionable_list/list_table', resources: resources %>
    </table>
  </div>
</div>
