.ec-product-detail {
  .ec-product-colors-menu {
    border: 0;
    margin: 0 -.5rem;

    .nav-item {
      margin-right: .5rem;
      margin-left: .5rem;
      margin-bottom: 0;
    }

    .nav-link {
      border: 0;
      font-weight: 400;
      font-size: .9rem;
      background-color: transparent;
      padding: 3px 1rem;
      @include transition-std(all);

      &.active, &:hover {
        background-color: $red;
        color: $white;
      }
    }
  }

  .ec-product-colors-tabs {

  }
}
