.ec-product-detail {
  .ec-product-colors-menu {
    border: 0;
    margin: 0 -.5rem;

    .nav-item {
      margin-right: .5rem;
      margin-left: .5rem;
      margin-bottom: 0;
    }

    .nav-link {
      border: 0;
      font-weight: 400;
      font-size: .9rem;
      background-color: transparent;
      padding: 3px 1rem;
      @include transition-std(all);

      &.active, &:hover {
        background-color: rgba(0,0,0,0.6);
        color: $white;
      }
    }
  }

  .ec-product-colors-tabs {

  }
}

.b-font-price-original {
  font-size: 1.1rem;
}

.b-font-price-discount {
  font-size: 1.5rem;
}
