<div class="admin-dashboard p-3">
  <div class="row">
    <div class="col-md-8">
      <div class="b-box h-100">
        <div class="admin-panel" style="background-color: #00ACC2;">
          <h3>
            編集
          </h3>
          
          <canvas id="editChart" width="4" height="1.6" 
            data-data="<%= @log_count %>" 
            data-labels='<%= raw @log_labels %>'
          >
          </canvas>
        </div>
        <div class="admin-panel" style="background-color: #fff;">
          <div class="row">
            <div class="col-3">
              <h3>編集総数</h3>
              <span>35</span>
            </div>
            
            <div class="col-9">
              <canvas id="editChartMonth" width="9" height="3"
                data-data="<%= @count %>"
                data-labels='<%= raw @labels %>'
              >
            </div>
          </div>
          </canvas>
        </div>
      </div>
      
    </div>
    
    <div class="col-md-4">
      <div class="b-box h-100">
        <div class="admin-panel" style="background-color: #009788;">
          <h3>Browser stats</h3>
          <canvas id="browserChart" width="7" height="3"></canvas>
        </div>
        
        <div class="admin-panel" style="background-color: #00796A;">
          <h3>Comment</h3>
          <canvas id="commentChart" width="5" height="3"></canvas>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-sm-6 col-lg-3 mb-3">
      <div class="b-box">
        new album, total album
      </div>
      
    </div>
    <div class="col-sm-6 col-lg-3 mb-3">
      <div class="b-box">
        new product, total product
      </div>
      
    </div>
    <div class="col-sm-6 col-lg-3 mb-3">
      <div class="b-box">
        new user, total user
      </div>
      
    </div>
    <div class="col-sm-6 col-lg-3 mb-3">
      <div class="b-box">
        何を書いていい
      </div>
    </div>
  </div>
</div>