<div class="b-box-row-options">
  <div class="b-as-link b-dropdown-toggle-icon" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false" title="編集または削除"
  >
    <i class="fa fa-angle-down"></i>
  </div>
  <div class="dropdown-menu dropdown-menu-right">
    <%= link_to feature_comment_path(comment),
      class: "dropdown-item b-update-comment" do
    %>
      <i class="fa fa-fw fa-pencil text-left"></i>
      <span>編集する...</span>
    <% end %>
    <!-- <div class="dropdown-divider"></div> -->
    <%= link_to feature_comment_path(comment),
      class: "dropdown-item b-delete-comment" do
    %>
      <i class="fa fa-fw fa-trash-o text-left"></i>
      <span>削除する...</span>
    <% end %>
  </div>
</div>
