<div class="b-box-row-options">
  <div class="b-as-link b-dropdown-toggle-icon" data-toggle="dropdown" 
    aria-haspopup="true" aria-expanded="false" title="編集または削除"
  >
    <i class="fa fa-angle-down"></i>
  </div>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="#">
      <i class="fa fa-fw fa-pencil text-left"></i>  
      <span>編集する...</span>
    </a>
    <!-- <div class="dropdown-divider"></div> -->
    <a class="dropdown-item" href="#">
      <i class="fa fa-fw fa-trash-o text-left"></i>
      <span>削除する...</span>
    </a>
  </div>
</div>