<%= link_to new_shop_product_path, class: 'b-link-no-decoration' do %>
  <button type="button" class="b-btn b-btn-raised b-btn-ripple b-bg-create">
    <i class="fa fa-plus-square" aria-hidden="true"></i>
    <span>追加</span>
  </button>
<% end %>

<button class="b-btn b-btn-raised b-btn-ripple b-bg-destroy">
  <i class="fa fa-trash"></i>
  <span>削除</span>
</button>
