@mixin transition-std($properties) {
  transition-property: $properties;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

@mixin transition-slow($properties) {
  transition-property: $properties;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}