@import 'mixins/box';
@import 'mixins/child';
@import 'mixins/flex';
@import 'mixins/hover';
@import 'mixins/responsive';
@import 'mixins/transition';

@mixin glowing-name($color) {
  text-shadow: 0px 0px 5px $color, 0px 0px 5px $color, 0px 0px 5px $color;
}

@mixin text-limit-lines($lines, $line-height, $font-size) {
  line-height: $line-height;
  font-size: #{$font-size}rem;
  max-height: #{$line-height * $lines * $font-size}rem;
  overflow-y: hidden;
}

@mixin no-outline() {
  &:focus {
    outline: none;
  }
}

.link-clear {
  color: map-get($palette-color, primary);
  text-decoration: none;
}

@mixin text-lines($font-size, $line-height, $lines) {
  line-height: $line-height;
  font-size: $font-size;
  height: $line-height * $lines * $font-size;
  overflow-y: hidden;
}


@mixin text-max-lines($font-size, $line-height, $lines) {
  line-height: $line-height;
  font-size: $font-size;
  max-height: $line-height * $lines * $font-size;
  overflow-y: hidden;
}