$fonts: '-apple-system', BlinkMacSystemFont, "Segoe UI", Roboto, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$text-color__nav: #fff;
$background-color__nav-fixed: rgba(27,31,35,0.7);
$nav-fixed--active__background-color: rgba(27,31,35,0.9);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$x-black: #212529; // #1d2129 used by Facebook
$x-white: #ffffff;
$x-gray_bg: #e9ebee;
$x-red: #e51c23;
$x-green: #259b24;
$x-blue: #03a9f4;
$x-teal: #009688;
$x-amber: #ffc107;
$x-orange: #ff9800;
$x-sakura: #f75a96;

$palette_bg: (
  site: $x-gray_bg,
  site_hover: #f6f7f8,

  primary: $x-white,
  primary_hover: $x-gray_bg,

  second: #f6f7f8,
  second_hover: $x-gray_bg,
  
  danger: $x-red,
  success: $x-green,
  regular: $x-blue,
  info: $x-teal,
  warning: $x-orange,
  sakura: $x-sakura
);

$palette_social: (
  google: #dd4b39,
  twitter: #55acee,
  facebook: #3d5a98,
);

$palette_border: (
  primary: #ddd
);

$palette_color: (
  primary: $x-black,
  second: #616770,
  second_hover: $x-black,
  mute: #4b4f56,
  light: $x-white,
  placeholder: #90949c,
  star: #00b0f0
);

$palette_components: (
  price: $x-red
);

$white: #fff;

$white--semi-dark: #eaeaea;

$white--dark: #ddd;

// $black: rgb(13,13,14);
$black: #212529;

$black--light: #4b4f56;

$gray--dark: #505050;
$gray: #f0f0f0;
$grey: #f0f0f0;
$grey--50: #fafafa;
$grey--300: #e0e0e0;

$almost-white: #f8f8f8;
$gray-dark: #aaa;
$blue: #009aab;
$cyan: #00bcd4;
$blue--light: #03a9f4;
$teal: #009688;
$purple: #9c27b0;
$red: #e51c23;
$orange: #ff9800;
$orange--dark: #ff5722;
$amber: #ffc107;
$pink: #e91e63;
$sakura: #f75a96;
$green: #259b24;

$google: #dd4b39;
$twitter: #55acee;
$facebook: #3d5a98;

$text--light: $white--semi-dark;
$text--semi-dark: $gray--dark;

$text--dark: $black;

$text--gray: $gray-dark;

$text--white: #fff;
$text--black: $black;

$box-shadow__color: $white--dark;

$border-color: $white--dark;

$page-head__background: $gray;

$content__background: $almost-white;

$section-border: $gray-dark;

$link__color-hover: #0056b3;
$link__color: #007bff;

$tab-active__background: $blue--light;


// main-layout-color

$page__background: #e8e8e8;

$box-shadow: rgba(34, 25, 25, 0.3);

// admin colors
$browser-panel: #009788;
$comment-panel: #00796A;
$edit-day-panel: #00ACC2;
$edit-month-panel: #FFFFFF;

// sizes

$admin-sidebar-width: 240;









