html {
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fafafa;
}

* {
  border-radius: 0 !important;
}

*:active, *:focus {
  outline: none;
}

.wow { visibility: hidden; }
