<section class="lazy parallax-section" id="section-1"
  data-original="/assets/index_parallax_1.jpg">
  <div class="content-inside top-content">
    <div class="animated-wrap animated fadeInUp">
      <h1>
        にょろにょろへようこそ
      </h1>
      <p>
        このサイトはアダルトコンテンツがありますので<br>
        あなたは18歳以上であることを確認してください
      </p>
      <div class="btn-c-group">
        <a class="btn-c btn-c-5" ui-sref="home">
          使い方を読む
          <!-- <div class="arrows"></div> -->
        </a>
        <%= link_to 'ホムページへ', warning_path, 
          { class: 'btn-c btn-c-5 btn-c-5-dark' } 
        %>
      </div>
    </div>
  </div>
  <div class="arrow-wrap animated fadeIn">
    <div class="arrow bounce"></div>
  </div>

</section>

<div class="content-between-parallax container faq-section">
  <h1 class="wow bounceInDown">
    よくある質問
  </h1>
  <div class="faq-wrap row">
    <div class="faq-block col-lg-4 col-md-4 col-sm-4 wow rotateInDownLeft">
      <i class="fa fa-question-circle-o"></i>
      <h5>
        ローレンイプサム？
      </h5>
      <p>
        中めてフか民段ヱ善誰ヨ売性ヱヘ子感縦りスク向権コユキタ者康そむ間較け埼骨海ゆ刃間爆げ銘題ぞりゆ。
      </p>
    </div>
    <div class="faq-block col-lg-4 col-md-4 col-sm-4 wow flipInX">
      <i class="fa fa-clock-o"></i>
      <h5>
        ローレンイプサム？
      </h5>
      <p>
        部おだざを中講だずンが更聞ヌシマ化幹造ワロ事役ゃのろド式拉ばひ探所アヒ転経37取他チヌモ持音ねうど登去ハ解調エヌコ日3被ナ著業ラと師接ト。
      </p>
    </div>
    <div class="faq-block col-lg-4 col-md-4 col-sm-4 wow rotateInDownRight">
      <i class="fa fa-check-circle-o"></i>
      <h5>
        ローレンイプサム？
      </h5>
      <p>
        今イラ州該ど観思ツ効萬トラた優今ヱ手6転るか大10社1受れゆんド識済ぞよら以会ナタニモ月一梨転おらさひ信彫慰っざは。
      </p>
    </div>
  </div>
</div>

<section class="lazy parallax-section" id="section-2"
  data-original="/assets/index_parallax_2.jpg">
  <div class="content-inside database">
    <h1 class="wow fadeIn">合計は...</h1>
    <div class="counting wow fadeInUp">
      <div class="count-wrap">
        <span class="count">1400</span>
        <h6>ローレン</h6>
        <a class="btn-c btn-c-5" ui-sref="index">行く</a>
      </div>
      <div class="count-wrap">
        <span class="count">5000</span>
        <h6>イプサム</h6>
        <a class="btn-c btn-c-5 btn-c-5-dark" ui-sref="index">行く</a>
      </div>
      <div class="count-wrap">
        <span class="count">9000</span>
        <h6>ローレン</h6>
        <a class="btn-c btn-c-5" ui-sref="index">行く</a>
      </div>
      <div class="count-wrap">
        <span class="count">360</span>
        <h6>イプサム</h6>
        <a class="btn-c btn-c-5 btn-c-5-dark" ui-sref="index">行く</a>
      </div>
    </div>
  </div>
  <!-- novels -->
</section>

<div class="content-between-parallax container feature-section">
  <h1 class="wow rotateIn">
    フィーチャ
  </h1>
  <p class="wow slideInRight">
    中めてフか民段ヱ善誰ヨ売性ヱヘ子感縦りスク向権コユキタ者康そむ間較け埼骨海ゆ刃間爆げ銘題ぞりゆ。部おだざを中講だずンが更聞ヌシマ化幹造ワロ事役ゃのろド式拉ばひ探所アヒ転経37取他チヌモ持音ねうど登去ハ解調エヌコ日3被ナ著業ラと師接ト。今イラ州該ど観思ツ効萬トラた優今ヱ手6転るか大10社1受れゆんド識済ぞよら以会ナタニモ月一梨転おらさひ信彫慰っざは。
  </p>
  <div class="features-container wow fadeInUp row">
      <div class="feature-wrap">
        <div class="feature">
          <i class="fa fa-code"></i>
          <h3>ローレン</h3>
        </div>
      </div>
      <div class="feature-wrap">
        <div class="feature">
          <i class="fa fa-code"></i>
          <h3>イプサム</h3>
        </div>
      </div>
      <div class="feature-wrap">
        <div class="feature">
          <i class="fa fa-code"></i>
          <h3>ローレン</h3>
        </div>
      </div>
      <div class="feature-wrap">
        <div class="feature">
          <i class="fa fa-code"></i>
          <h3>イプサム</h3>
        </div>
      </div>
  </div>
</div>

<section class="lazy parallax-section" id="section-3"
  data-original="/assets/index_parallax_3.jpg">
  <div class="the-team content-inside">
    <h1 class="wow bounceInDown">
      チーム
    </h1>
    <h2 class="wow bounceIn">
      信頼性の高いプロのチーム
    </h2>
    <div class="team wow bounceInUp">
      <div class="member-wrap">
        <div class="member">
          <div class="avatar">
            <div class="avatar-thumb"></div>
          </div>
          <div class="name">
            <span>鈴木ひろし</span>
          </div>
          <div class="position">
            <span>アドミン</span>
          </div>
        </div>
      </div>
      <div class="member-wrap">
        <div class="member">
          <div class="avatar">
            <div class="avatar-thumb"></div>
          </div>
          <div class="name">
            <span>綾波</span>
          </div>
          <div class="position">
            <span>モデレータ</span>
          </div>
        </div>
      </div>
      <div class="member-wrap">
        <div class="member">
          <div class="avatar">
            <div class="avatar-thumb"></div>
          </div>
          <div class="name">
            <span>しぐれ</span>
          </div>
          <div class="position">
            <span>モデレータ</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="content-between-parallax container">
  <h1 class="wow jello">
    サビース
  </h1>
  <div class="quote-container">
    <div class="quote-wrap wow slideInLeft">
      <div class="quote">
        <p>
          中めてフか民段ヱ善誰ヨ売性ヱヘ子感縦りスク向権コユキタ者康そむ間較け埼骨海ゆ刃間爆げ銘題ぞりゆ。部おだざを中講だずンが更聞ヌシマ化幹造ワロ事役ゃのろド式拉ばひ探所アヒ転経37取他チヌモ持音ねうど登去ハ解調エヌコ日3被ナ著業ラと師接ト。
        </p>
        <h6>鈴木ひろし</h6>
        <span>アドミン</span>
        <a class="quote-link" ui-sref="index">&#x02192</a>
      </div>
    </div>
    <div class="quote-wrap wow slideInRight">
      <div class="quote">
        <p>
          中めてフか民段ヱ善誰ヨ売性ヱヘ子感縦りスク向権コユキタ者康そむ間較け埼骨海ゆ刃間爆げ銘題ぞりゆ。部おだざを中講だずンが更聞ヌシマ化幹造ワロ事役ゃのろド式拉ばひ探所アヒ転経37取他チヌモ持音ねうど登去ハ解調エヌコ日3被ナ著業ラと師接ト。
        </p>
        <h6>鈴木ひろし</h6>
        <span>アドミン</span>
        <a class="quote-link" ui-sref="index">&#x02192</a>
      </div>
    </div>
  </div>
</div>

<section class="lazy parallax-section" id="section-5"
  data-original="/assets/index_parallax_5.jpg">
  <div class="join-us content-inside">
    <h1 class="wow tada">
      居味がある？
    </h1>
    <p class="wow fadeInLeft">
      中めてフか民段ヱ善誰ヨ売性ヱヘ子感縦りスク向権コユキタ者康そむ間較け埼骨海ゆ刃間爆げ銘題ぞりゆ。
    </p>
    <a class="wow btn-c btn-c-5 fadeInRight" ui-sref="home">サインイン</a>
  </div>
</section>
