.b-search-loading {
  display: none;
  border-bottom: 1px solid $border-color;
  
  .b-loading { display: block; }
}

.b-search-form-container {
  position: relative;
  
  .b-search-category {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding-right: .5rem;
    
    &:after {
      content: '';
      position: absolute;
      width: 2px;
      top: 12px;
      right: 0;
      bottom: 12px;
      background-color: #aaa;
    }
    
    .form-control {
      position: relative;
      padding: 1rem .25rem 1rem 1rem;
      height: 100% !important;
      border: 0;
      background-color: transparent;
    }
  }
  
  .b-search-input {
    .form-control {
      padding: 1rem 75px 1rem 125px;
    }
  }
  
  .b-search-submit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    
    button {
      height: 100%;
      padding: 0 1rem;
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}

#searchResults {
  position: relative;
  
  nav {
    position: absolute;
    bottom: -4.5rem;
    right: 0;
  }
  
  .b-box-row {
    .b-result-title a { font-size: 1.125rem; }
    
    .b-result-related {
      font-size: 0.9rem;
      // color: #006621;
    }
    
    .b-result-content {
      font-size: 0.9rem;
      color: #808080;
      max-height: 2.7rem;
      overflow: hidden;
    }
  }
  
  .highlight {
    background-color: yellow;
  }
}