<div class="row">
  <% products.each_with_index do |product, index| %>
    <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
      <%= render(
        "components/product/container",
        product: product,
        hit: @hits[index]
      ) %>
    </div>
  <% end %>
</div>
