<div class="row">
  <% products.each do |product| %>
    <div class="col-sm-6 col-lg-4 mb-3">
      <div class="b-box b-box-hover p-3">
        <div class="">
          image
        </div>

        <div class="">
          name
        </div>

        <div class="">
          star, comments
        </div>

        <div class="">
          price<br>
          original_price
        </div>
      </div>
    </div>
  <% end %>
</div>
