<%= content_for :side_nav do %>
  <%= render 'shop/side_nav' %>
<% end %>

<div class="b-box">
  <%= render partial: 'shop/products/form',
    locals: { method: :put, url: shop_product_path(@product), submit_content: '追加する' }
  %>
</div>
