.b-box {
  background-color: white;
  @include box(1);
}

.b-box-p {
  padding: 1rem;
}

.b-box-group {
  .b-box-title {
    font-weight: bold;
    padding-left: 0.5rem;
    margin-bottom: .5rem;
  }
}

.b-box-row {
  position: relative;
  padding: 1rem;
  
  &:not(:last-child):after {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    right: 10px;
    left: 10px;
    bottom: 0;
    background-color: $border-color;
  }
}