// <div class="b-box-group">
//   <h6 class="b-box-title">
//     情報
//   </h6>
//
//   <div class="b-box b-box-hover">
//     <div class="b-box-another top">
//       紹介
//     </div>
//
//     <div id="p-3">
//       こんにちは
//     </div>
//   </div>
// </div>

.b-box {
  background-color: $box-bg;
  @include box(1);
}

.b-box-p {
  padding: $box-padding-y $box-padding-x;
}

.b-box-hover {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover { 
    @include box(2); 
  }
}

.b-box-group {
  .b-box-title {
    font-weight: $box-title-font-weight;
    padding-left: $box-title-padding-left;
    margin-bottom: $box-title-margin-bottom;
    display: inline-block;
  }
}

.b-box-another {
  padding: $box-another-padding-y $box-another-padding-x;
  background-color: $box-another-bg;

  &.top { 
    border-bottom: $box-another-border-width solid $box-another-border-color; 
  }

  &.bottom { 
    border-top: $box-another-border-width solid $box-another-border-color;
  }
}

.b-box-row {
  position: relative;
  padding: $box-row-padding-y $box-row-padding-x;

  @include except-last {
    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      height: $box-row-border-width;
      right: $box-row-border-offset;
      left: $box-row-border-offset;
      background-color: $box-row-border-color;
    }
  }
}

.b-box-row-hover {
  @include transition-std(background-color);

  &:hover {
    background-color: $box-row-hover-bg;
  }
}


.b-box-row:hover .b-box-row-options { display: block; }

.b-box-row-options {
  display: none;
  position: absolute;
  top: 5px;
  right: .5rem;
}

.b-box-container {
  margin-bottom: -1rem;
}

.b-row-horizontal-group {
  display: flex;
}

.b-row-horizontal {
  flex: 0 0 auto;
  position: relative;
  padding: $row-horizontal-padding-y $row-horizontal-padding-x;

  @include except-last {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: $row-horizontal-border-width;
      background-color: $row-horizontal-border-color;
      z-index: 1;
    }
  }
}

.b-row-horizontal-toggler {
  flex: 0 0 $row-horizontal-toggler-width;
  max-width: $row-horizontal-toggler-width;

  @include flex-middle(true);
}
