.b-product-card {
  padding: $product-card-padding;
  cursor: $product-card-cursor;

  .product-name {
    margin-top: $product-card-name-margin-top;

    @include text-lines($product-card-name-font-size, $product-card-name-line-height, $product-card-name-lines);
  }

  .product-utils {
    margin-top: $product-card-utils-margin-top;
    display: flex;
    justify-content: space-between;
    font-size: $product-card-utils-font-size;
  }

  .product-price {
    .discount-price {
      font-size: $product-card-price-discount-font-size;
      color: $product-card-price-discount-color;
      font-weight: $product-card-price-discount-font-weight;
    }

    .original-price {
      font-size: $product-card-price-original-font-size;
      text-decoration: $product-card-price-original-decoration;
    }
  }

  .product-btn-group {
    margin: $product-card-btn-group-margin;
    display: flex;

    a {
      border-top: $product-card-btn-border-width solid $product-card-btn-border-color;
      background-color: $product-card-btn-background;
      font-size: $product-card-btn-font-size;
      padding: $product-card-btn-padding-y $product-card-btn-padding-x;

      @extend .link-clear;

      @include flex-middle(true);
      @include transition-std(all);
      @include flex-grid(2);

      &:hover,
      &:active {
        background-color: $product-card-btn-hover-background;
      }

      @include except-last { 
        border-right: $product-card-btn-border-width solid $product-card-btn-border-color; 
      }
    }
  }
}

.b-product-card-hover {
  @include transition-std(background-color);

  &:hover {
    background-color: $product-card-hover-background;
  }
}

.b-star {
  color: $star-color;
}
