.b-product-card {
  padding: 1rem;
  cursor: pointer;

  .product-name {
    margin-top: .5rem;
    font-size: 1rem;
    line-height: 1.5;
    height: calc(2 * 1.5 * 1rem);
    overflow-y: hidden;
  }

  .product-utils {
    margin-top: .25rem;
    display: flex;
    justify-content: space-between;
  }

  .product-price {
    .discount-price {
      font-size: 1.5rem;
      color: map-get($palette_components, price);
      font-weight: 600;
    }

    .original-price {
      font-size: 1.1rem;
      text-decoration: line-through;
    }
  }

  .product-btn-group {
    margin: 1rem -1rem -1rem;
    display: flex;

    a {
      flex: 1 0 50%;
      border-top: 1px solid #ddd;
      color: map-get($palette_color, primary);
      text-decoration: none;
      background-color: transparent;
      font-size: 0.9rem;
      padding: .5rem 1rem;
      text-align: center;
      @extend .flex-middle;
      @include transition-std(all);

      &:not(:last-child) { border-right: 1px solid map-get($palette_border, primary); }

      &:hover, &:active, &:focus {
        // color: $white;
        background-color: $grey--300;
      }
    }
  }
}

.b-product-card-hover {
  @include transition-std(background-color);

  &:hover {
    background-color: map-get($palette_bg, primary_hover);
  }
}

.b-star {
  color: map-get($palette_color, star);
}
