.dropdown-menu {
  .form-check-input {
    position: static;
  }
}

.b-dropdown-toggle-icon {
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50% !important;
  display: block;
  
  &:hover {
    background-color: #f0f0f0;
  }
}