.b-link-no-decoration {
  text-decoration: none !important;
}

.b-author.b-link {
  color: #494b4e;
  font-weight: 600;
  font-size: 0.95rem;

  &:hover {

  }
}

.b-as-link {
  &:hover {
    color: $link-hover-color;
  }
}

.b-link-no-color {
  color: $black !important;
}
