// <div class="page-title">
//   <div class="container">
//     <h3>Big title</h3>
//     <h6>Small title</h6>
//   </div>
// </div>

.page-title, .b-page-title {
  padding: 15px 0;
  background-color: map-get($palette_bg, second);
  box-shadow: 0 2px 4px $box-shadow__color;
  
  .b-big-title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  
  .b-small-title {
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}