.b-side-nav {
  .list-group {
    @include except-last {
      margin-bottom: $list-group-margin-bottom;
    }

    > a {
      text-decoration: $list-group-link-decoration;
    }
  }

  .b-list-group-header {
    color: $list-group-header-color;
    margin: 0;
    padding: $list-group-header-padding-y $list-group-header-padding-x;
    font-weight: $list-group-header-font-weight;
  }

  .list-group-item {
    background-color: $list-group-item-bg;
    border: 0;
    margin: 0;
    color: $list-group-item-color;
    border: $list-group-item-border-width solid $list-group-item-border-color;
    padding: $list-group-item-padding-y $list-group-item-padding-x;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .list-group-item-action {
    @include hover-focus-active {
      background-color: $list-group-item-action-hover-bg;
      border-color: $list-group-item-action-hover-border-color;
    }
  }
}
