.b-side-nav {
  .list-group:not(:last-child) {
    // margin-bottom: .5rem;
    margin-bottom: 1rem;
  }

  .list-group > a {
    text-decoration: none;
  }

  .b-list-group-header {
    color: map-get($palette_color, second);
    // padding: 4px .5rem;
    padding: 5px .5rem;
    margin: 0;
    font-weight: 600;
  }

  .list-group-item {
    background-color: transparent;
    border: 0;
    margin: 0;
    color: map-get($palette_color, primary);
    border: 1px solid transparent;
    // padding: 4px .5rem;
    padding: 5px .5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .list-group-item-action {
    &:focus, &:hover, &.active {
      background-color: map-get($palette_bg, site_hover);
      border-color: map-get($palette_border, primary);
    }
  }
}
