.b-table {
  width: 100%;
  // table-layout: fixed;
  
  td {
    padding: 7px;
    word-break: break-all;
  }
  
  th {
    padding: 7px 7px 7px 15px;
    width: 111px;
    vertical-align: text-top;
  }
  
  tr:nth-child(odd):not(.b-description) {
    background-color: $content__background;
  }
  
  tr.b-description {
    td {
      border: 1px solid $border-color;
    }
    p {
      margin: 0;
    }
  }
}

.b-td-overflow {
  max-width: 0;
}

.b-table-hidden-th tr:not(.b-description) {
  th, td {
    display: block; 
    padding: 3px 7px 3px 15px;
    
    @include responsive(md) {
      display: table-cell;
      padding: 7px 7px 7px 15px;
    }
  }
}