<div class="row">
  <% @albums.each do |album| %>
    <% latest = album.latest_version %>
    <div class="col-md-6 mb-3">
      <div class="b-box b-box-p h-100 b-item">
        <div class="row">
          <div class="col-4 col-md-5 b-item-img">
            <div class="b-img-placeholder b-ratio-1_1">
              <div class="b-img-thumb" data-background-image="<%= latest.image_url.to_s %>">
              </div>
            </div>
          </div>
          
          <div class="col-8 col-md-7 b-item-info">
            <div class="b-item-info-head">
              <div class="b-text-3l">
                <%= link_to latest.title, db_album_path(album), 
                  title: latest.title_pronounce
                %>
              </div>
              <div class="mt-1">
                <div class="row">
                  <div class="col-6 pr-2 text-right">
                    <i class="fa fa-fw fa-clock-o" title="読むにかかる時間"></i>
                    30:22
                  </div>
                  <div class="col-6 pl-2 text-left">
                    <i class="fa fa-star" title="ユーザーレーティング"></i>
                    10
                  </div>
                </div>
              </div>
              <div class="line w-100 mt-2"></div>
            </div>
            
            <div class="b-item-info-body">
              <div class="">
                <div class="b-font-80">
                  発売日
                </div>
                <div class="">
                  2017-08-29
                </div>
              </div>
            </div>
          </div>
        </div>    
      </div>
    </div>
  <% end %>
</div>


<%= paginate @albums %>