<%= form_for @order, html: { class: 'b-form p-0 m-0' } do |f| %>
  <div class="">
    <div class="b-box">
      <div class="b-box-another top">
        <span>1</span>
        <span>Basic informations</span>
      </div>

      <div class="b-box-p">
        <%= render "ec/checkouts/index/basic", f: f %>
      </div>
    </div>

    <div class="b-box">
      <div class="b-box-another top">
        <span>2</span>
        <span>Payment information</span>
      </div>

      <div class="b-box-p">
        <%= render "ec/checkouts/index/payment", f: f %>
      </div>
    </div>
  </div>
<% end %>
