<%= breadcrumb(
  { name: "ホーム", path: home_path },
  { name: "商品", path: ec_products_path },
  "カート"
) %>

<div class="alert alert-primary text-center" role="alert">
  <%= link_to "予約する", "#", class: "b-link-no-color" %>
  <span>|</span>
  <%= link_to "予約しない", "#", class: "b-link-no-color" %>
</div>

<div class="row">
  <div class="col-md-7 col-lg-8">
    <div class="b-box">
      <div class="b-box-another top">
        Products list
      </div>
      <div>
        <%= colors_grouped(@cart_color_ids, action: false) %>
      </div>
    </div>
  </div>

  <div class="col-md-5 col-lg-4 mt-3 mt-md-0">
    <div class="b-box b-box-p">
      <h6 class="b-box-title">Order</h6>

      <div class="text-right">
        <div class="b-flex-space-between b-table-row-hover">
          <strong>Payment method:</strong>
          <span>On delivery</span>
        </div>

        <div class="b-flex-space-between b-table-row-hover">
          <strong>Shipping:</strong>
          <span>Fast</span>
        </div>
      </div>
    </div>

    <div class="b-box b-box-p">
      <h6 class="b-box-title">Invoice</h6>

      <div class="text-right">
        <div class="b-flex-space-between b-table-row-hover">
          <strong>Last name:</strong>
          <span>Le</span>
        </div>

        <div class="b-flex-space-between b-table-row-hover">
          <strong>First name:</strong>
          <span>Bach</span>
        </div>

        <div class="b-flex-space-between b-table-row-hover">
          <strong>Phone number:</strong>
          <span>0903489453</span>
        </div>

        <div class="b-flex-space-between b-table-row-hover">
          <strong>Address:</strong>
          <span>24 dai tu, hoang mai, ha noi, vietnam, dong lao</span>
        </div>

        <div class="b-flex-space-between b-table-row-hover">
          <strong>Total:</strong>
          <span>1000000</span>
        </div>

        <div class="b-flex-space-between b-table-row-hover">
          <strong>Points used:</strong>
          <span>500000</span>
        </div>

        <div class="b-flex-space-between b-table-row-hover">
          <strong>Cost</strong>
          <span>500000</span>
        </div>
      </div>
    </div>
  </div>
</div>