.admin-sidebar {
  background-color: #fff;
  box-shadow: 3px 0px 3px -3px rgba(0,0,0,0.12), 2px 0px 2px -2px rgba(0,0,0,0.24);
}

.admin-sidebar {
  .list-group-item {
    // background-color: #2f4050;
    font-weight: normal;
  }

  .b-list-group {
    // color: $white;
  }
}
