<table class="b-table">
  <tr>
    <td colspan="2">
      <div class="">
        product_rating(votes)
      </div>
    </td>
  </tr>
  <tr>
    <th>商品な</th>
    <td><%= product.name %></td>
  </tr>
  <tr>
    <th>カテゴリ</th>
    <td><%= product.category.name %></td>
  </tr>
  <tr>
    <th>色</th>
    <td>
      <div class="">
        color_name (color_status)
      </div>
      <div class="">
        color_price
      </div>
    </td>
  </tr>
</table>
