<%= breadcrumb(
  { path: home_path, name: 'ホーム' },
  { path: db_path, name: 'データベース' },
  'アルバムリスト'
) %>

<%= page_title('アルバムリスト', 'Album list') %>

<!-- Modal trigger is inside this component -->
<%= render 'db/albums/index/utils' %>

<div id="dbAlbumList">
  <%= render 'db/albums/index/album_list' %>
</div>