<footer>
  <div class="row">
    <div class="col-md-6 about-us">
      <h4>nyoronyoro</h4>　
      <p>
        中めてフか民段ヱ善誰ヨ売性ヱヘ子感縦りスク向権コユキタ者康そむ間較け埼骨海ゆ刃間爆げ銘題ぞりゆ。
      </p>
      <span>
        &#169; 2017 にょろにょろ Ltd.
      </span>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-6 meet-us">
          <h6>
            MEET US
          </h6>
          <ul class="link-group">
            <li>
              <a ui-sref="index">にょろにょろについて</a>
            </li>
            <li>
              <a ui-sref="index">お問い合わせはこちら</a>
            </li>
            <li>
              <a ui-sref="index">ヘルプ</a>
            </li>
            <li>
              <a ui-sref="index">仕事</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 follow-us">
          <h6>
            follow us
          </h6>
          <div class="social-sharing">
            <a ui-sref="index"><i class="fa fa-facebook"></i></a>
            <a ui-sref="index"><i class="fa fa-twitter"></i></a>
            <a ui-sref="index"><i class="fa fa-instagram"></i></a>
            <a ui-sref="index"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      </div>
  </div>
</footer>
