<nav class="navbar fixed-top navbar-inverse navbar-expand-md 
  animated fadeInDown" id="navbar">
  <button class="navbar-toggler" type="button">
    <i class="fa fa-fw fa-bars"></i>
  </button>
  
  <div class="container">
    <a class="navbar-brand d-md-none" href="/home">にょろにょろ</a>

    <div class="collapse navbar-collapse w-100">
      <div class="-main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'ホーム', home_path, { class: 'nav-link' } %>
          </li>
          <li class="nav-item">
            <%= link_to 'アルバム', db_albums_path, { class: 'nav-link' } %>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              企業情報
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              接触
            </a>
          </li>
        </ul>
        <!-- END navbar left -->
        <form class="form-inline search-form" id="searchForm"
          name="navSearchForm">
          <!-- <select class="custom-select" id="searchCate" ng-model="vm.search.category" required>
            <option value="">カテゴリ</option>
            <option value="novel">ビジュアルノベル</option>
            <option value="novelRelease">ノベルの発売</option>
            <option value="album">アルバム</option>
            <option value="albumRelease">アルバムの発売</option>
            <option value="novelProduct">美少女ゲーム(製品)</option>
            <option value="albumProduct">アルバム(製品)</option>
            <option value="character">キュラクター</option>
            <option value="tag">タグ</option>
          </select> -->
          <!-- <div class="input-group search-cate-wrap" ng-class="{ 'has-danger': navSearchForm.$submitted && navSearchForm.category.$invalid }">
            <select class="form-control search-cate" name="category" id="searchCate" ng-model="vm.search.category" required>
              <option value="">カテゴリ</option>
              <option value="novel">ビジュアルノベル</option>
              <option value="novelRelease">ノベルの発売</option>
              <option value="album">アルバム</option>
              <option value="albumRelease">アルバムの発売</option>
              <option value="novelProduct">美少女ゲーム(製品)</option>
              <option value="albumProduct">アルバム(製品)</option>
              <option value="character">キュラクター</option>
              <option value="tag">タグ</option>
            </select>
          </div> -->
          <!-- <div class="stylish-input-group" id="inputGroup">
            <input class="form-control mr-sm-2" id="searchInput" type="text"
              placeholder="探しましょう" ng-model="vm.search.query"
              autocomplete="off" ng-change="vm.search()" ng-trim="false" required>
            <button type="button" class="clear-search-input" ng-click="vm.clearInput()">
              &#10006;
            </button>
            <button type="submit" id="searchSubmit">
              <i class="fa fa-search"></i>
            </button> -->

          <div class="input-group search-query-wrap">
            <input class="form-control search-query" id="searchInput"
              name="query" type="text" placeholder="探しましょう"
              autocomplete="off" required
            >
            <div class="btn-group">
              <button type="button" class="btn btn-clear" id="searchClear">
                <i class="fa fa-times"></i>
              </button>
              <button id="searchSubmit" class="btn btn-submit">
                <i class="fa fa-search"></i>
              </button>
            </div>

            <!-- <div class="live-search-results">
              <a ui-sref="novel.detail({ id: novel.id })"
                ng-repeat="novel in vm.search.results">
                <div class="result">
                  <div class="result-image-wrap image-placeholder ratio-3_4">
                    <div class="image-thumb"
                      ng-style="{ 'background-image': 'url({{ novel.image }})' }"></div>
                  </div>
                  <div class="result-info">
                    <div class="title">{{ novel.title }}</div>
                    <div class="title-en">{{ novel.titleEn }}</div>
                    <div class="length">{{ novel.length }}</div>
                  </div>
                </div>
              </a>
            </div> -->
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
      <!-- main section -->
      <div class="-user">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'ログアウト', destroy_user_session_path, 
                method: :delete, class: 'nav-link'
              %>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="fa fa-shopping-cart"></i>
                0
              </a>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'ログイン', new_user_session_path, { class: 'nav-link' } %>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- user section -->
    </div>
    <!-- END nav collapse -->
  </div>
  <!-- container -->
</nav>
