<aside class="admin-sidebar">
  <div class="b-sidebar-sm-body">
    <ul class="list-group b-list-group top-level list-group-item-action">
      <li class="list-group-item b-list-group-item list-group-item-action top-level">
        <i class="fa fa-th-large"></i>
        ダッシュボード
      </li>
    </ul>
  </div>
</aside>