<table class="b-table">
  <tr>
    <th>Shop</th>
    <td><%= product.discount.shop %></td>
  </tr>
  <tr>
    <th>System</th>
    <td><%= product.discount.system %></td>
  </tr>
  <tr>
    <th>Total</th>
    <td><%= product.discount.total %></td>
  </tr>
</table>
