<table class="b-table">
  <tr>
    <th>ショップ</th>
    <td><%= product.discount.shop %></td>
  </tr>
  <tr>
    <th>システム</th>
    <td><%= product.discount.system %></td>
  </tr>
  <tr>
    <th>合計</th>
    <td><%= product.discount.total %></td>
  </tr>
</table>
